.gallery {
  .image {
    margin: auto;
    padding:0;
    background: $graySite;
    overflow: hidden;
  }

  img {
    padding: 0;
    margin:0;
    width: 320px;
    height: 200px;
    display: block;
    margin: 0 auto;

    @include box-shadow(0 0 42px rgba(0,0,0,0.5));
  }
}
