$sprites: sprite-map("mobile/icons/*.png", $spacing: 1px);
$sprites2x: sprite-map("mobile/icons2x/*.png", $spacing: 1px);

@mixin retina-sprite($name, $sprites, $sprites2x, $dimensions: true, $pad: 0) {
  @if $dimensions == true {
    @include sprite-dimensions($sprites, $name);
  }

  background-image: sprite-url($sprites);
  background-position: sprite-position($sprites, $name, -$pad, -$pad);
  background-repeat: no-repeat;

  @if $pad > 0 {
    padding: $pad;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2) {
    & {
      $pos: sprite-position($sprites2x, $name, -$pad*2, -$pad*2);
      background-image: sprite-url($sprites2x);
      background-position: nth($pos, 1) nth($pos, 2)/2;
      @include background-size(ceil(image-width(sprite-path($sprites2x)) / 2), auto);
    }
  }
}

@mixin sprite($name) {
  @include retina-sprite($name, $sprites, $sprites2x);
}
