html, body, #container {
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  @include defaultFont;
  color: $grayDark;
}

a {
  color: $grayDark;
}

.logo {
  background: image-url('mobile/logo.png') no-repeat;
  @include background-size(300px, 93px);
  width: 300px;
  height: 93px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px auto 25px;
  border-bottom: none;

  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 1.5) {
    background: image-url('mobile/logo2x.png') no-repeat;
    @include background-size(300px, 93px);
  }
}

#map_canvas {
  width: 100%;
  height: 100%;
  padding: -8px;
}

header {
  h1 {
    margin: 0;
    text-align: center;
    background: $lightBlue;
    font-size: 32px;
    color: white;
    @include text-shadow(1px 1px 1px rgba(0,0,0,0.3));
    text-transform: uppercase;
    border-bottom: 1px solid $grayLight;
  }

  p {
    width: 270px;
    text-align: right;
    margin: -20px auto 20px;
    font-size: 14px;
    color: $grayLight;
  }
}

.list {
  ul {
    @include no-bullet;
    margin:0;
    padding:0;

    li {
      border-top: 1px solid $grayLighter;
      padding: 0 6px 0 12px;
      height: 48px;
      line-height: 48px;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis;

      &:first-child {
        border-top: none;
      }
    }
  }
}

h2 {
  color: $gray;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid $graySite;
  margin: 0 -6px;
  padding: 0 6px;
}

article {
  padding: 6px;
}

ul {
  @include no-bullets;
  padding-left: 0;

  &.links {
    width: 320px;
    margin: 24px auto 0;

    li {
      text-align: center;
      margin-bottom: 14px;
      &[data-link] {
        text-decoration: underline;
      }

      &.about{
        color: $grayLight;
      }
    }
  }
}
