.sponsors {
  ul {
    width: 320px;
    margin: auto;

    li {
      margin: 12px 0;
    }
  }
  a {
    text-align:center;

    width: auto;
    img {
      display:block;
      margin: auto;
    }
  }
}
