- content_for :content_class, 'about'

%header
  %h1 About

.information.group
  = image_tag 'aimee_vd_starlings.jpg', size: '365x219'

  .details
    %p Victoria’s 6th annual Integrate Arts Festival (formerly called Off the Grid Art Crawl) will take place August 3rd & 4th with an official art crawl, outdoor visual projections and various other art and music events throughout the festival.

    %p Victoria’s art galleries, artist-run centres and arts organisations invite the public to explore art exhibitions and meet local artists, curators, musicians and volunteers that make Victoria’s cultural scene the diverse and vibrant entity that it is.

.info
  %h2 How It Works:

  %p
    The INTEGRATE ART map will guide the public to a variety of exhibitions and events at participating galleries, publicly accessible studios, and various sites throughout the city including large-scale outdoor visual projections as part of the 150th City of Victoria celebrations.  
    
  %p
    As an ofﬁcial en-masse open house event, participating sites will offer free evening viewings on August 3rd and an audio and visual event at Vic Theatre presented by Animal Productions from 8pm - 11:30pm.
  %p
    On August 4th, participating galleries will host interactive events and workshops throughout the day. Animal Productions will host a Multimedia Showcase at G++ Gallery, and Integrate Arts Society will present a festival finale party featuring live music and DJs at The Sculpture Studio from 8pm - 1:30am.
