- content_for :content_class, 'about'

%header
  %h1 Contact Us

.information.group
  = image_tag 'aimee_vd_starlings.jpg', size: '365x219'

  .details
    %h4 Integrate Art Society
    %p= mail_to 'integrateartsociety@gmail.com'

    %ul.core_members
      %li Director: Kaitlyn Webb Patience
      %li Gallery Liaisons: Amy Mckinstry & Elsie Mountford
      %li Media: Kathryn Leonard, integrate

    %br

    %ul.members
      %li Caroline Baicy
      %li Erica Bloom
      %li Jill Cook
      %li Michaela Earthy
      %li Brennan Hall
      %li Kathryn Leonard
      %li Jennifer Paquet
      %li Amber Petersen
      %li Zahra Stark
