- content_for :content_class, 'about'

%header
  %h1 Contact Us

.information.group
  = image_tag 'aimee_vd_starlings.jpg', size: '365x219'

  .details
    %h4 Integrate Art Society
    %p= mail_to 'integrateartsociety@gmail.com'

    %ul.members
      %li Kaitlyn Patience 
      %li Laurie Luck              
      %li Jzero Schuurman  
      %li Renee Crawford
      %li Aubrey Burke
      %li Tegan Forbes
      %li Joey MacDonald
