%h1 Offsite Events

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @offsites.each do |offsite|
      %tr
        %td= offsite.name
        %td= link_to 'Edit', edit_admin_offsite_path(offsite)
        %td= link_to 'Destroy', admin_offsite_path(offsite), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Offsite Event', new_admin_offsite_path
