#= require zepto
#= require underscore
#= require backbone
#= require_self
#= require_tree ../templates
#= require_tree ./models
#= require_tree ./collections
#= require_tree ./views
#= require_tree ./routers

window.Integrate ?= {}

_.extend Integrate,
  Models: {}
  Collections: {}
  Views: {}
  Routers: {}
  env: <%= Rails.env.to_json %>
  init: ->
    if 'ontouchstart' of window
      $('body').on 'click', (e) ->
        e.preventDefault()

    else
      $('body').on 'click', (e) ->
        $(e.target).trigger('tap')

    $('a').live 'tap', (e) ->
      window.location = $(this).attr('href')

    @app = new Integrate.Routers.Index()
    Backbone.history.start()

  simpleFormat: (str) ->
    str = str.replace /\r\n?/, "\n"
    str = $.trim(str)
    if str.length > 0
      str = str.replace /\n\n+/g, '</p><p>'
      str = str.replace /\n/g, '<br />'
      str = "<p>#{str}</p>"

    return str

$(document).ready ->
  Integrate.init()
