$baseFontSize: 14px !default;
$baseLineHeight: 18px !default;

$grayDarker:  #222 !default;
$grayDark:    #333 !default; 
$gray:        #555 !default;
$grayLight:   #999 !default;
$grayLighter: #EEE !default;
$white:       #FFF !default;

$lightBlue:   #22C2EB;
$graySite:    #CFD2D1;
