.information.group {
  margin-top: 20px;
  margin-bottom: 40px;

  > img {
    width: 365px;
    float:left;
  }

  > .details {
    margin-left: 365px;
    padding: 0 80px 40px 40px;
    > h2 {
      margin-top: 0;
    }
  }
}

p {
  margin-bottom: 1.6 * $baseLineHeight;
}

.gallery {
  > header {
    > .lead {
      margin-bottom: 12px;
    }
  }
}
