.event {
  > a {
    &:hover {
      text-decoration: none;
    }

    h2 {
      color: $grayDarker;
      background: $graySite;
      padding: 4px;
      > small {
        float: right;
        font-size: 14px;
        text-transform:none;
      }
    }
  }

  & > .details {
    display: none;
    @include single-transition('height', '0.5s', ease);
  }

  &:target {
    & > .details {
      display: block;
    }
  }
}
