- content_for :content_class, 'locations'

:javascript
  var mapsLoaded = function() {
    window.map = new Integrate.Map;
  }

  $( function () {
    Integrate.Map.loadMapScript('mapsLoaded');
  });

.group
  .locations
    %ul
      -for location in @locations
        %li= location.addressable.name

  #map_canvas
