- content_for :content_class, 'locations'

:javascript
  var mapsLoaded = function() {
    var sites = #{@locations.as_json(only: [:id, :latitude, :longitude], methods: :name).to_json};
    window.map = new Integrate.Map(sites);
  }


  $( function () {
    Integrate.Map.loadMapScript('mapsLoaded');
  });

.group
  .locations
    %ul
      -for location in @locations
        %li{ data: {location_id: location.id}}= location.addressable.name

  #map_canvas
