- content_for :content_class, 'locations'

:javascript
  var mapsLoaded = function() {
    var sites = #{@locations.as_json(only: [:id, :latitude, :longitude], methods: :name).to_json};
    window.map = new Integrate.Map(sites);
  }


  $( function () {
    Integrate.Map.loadMapScript('mapsLoaded');
  });

.group
  .locations
    %ul
      -for location in @locations
        - begin
          %li= location.addressable.name
        - rescue
          %li #{location.id} - PROBLEM

  #map_canvas
