- content_for :content_class, 'map'

:javascript
  var mapsLoaded = function() {
    var sites = #{@locations.as_json(only: [:id, :latitude, :longitude], methods: :name).to_json};
    window.map = new Integrate.Map(sites);
  }


  $( function () {

    var allPanels = $('.locations ul');
    allPanels.not('.active').hide();

    $('.locations > h2').click(function () {
      $this = $(this);
      $target = $this.next('ul');

      if(!$target.hasClass('active')){
        allPanels.removeClass('active').slideUp();
        $target.addClass('active').slideDown();
      }
    });

    Integrate.Map.loadMapScript('mapsLoaded');

  });


.group
  .locations
    %h2.galleries Galleries
    %ul.galleries.active
      -for location in @locations.sort_by(&:name)
        - if location.addressable_type == 'Gallery'
          %li{ data: {location_id: location.id}}= location.name

    %h2.off-sites Off Site Events
    %ul.off-sites
      -for location in @locations.sort_by(&:name)
        - if location.addressable_type == 'Offsite'
          %li{ data: {location_id: location.id}}= location.name

  #map_canvas
