%nav
  %ul
    %li= link_to 'About', about_path
    %li= link_to 'Galleries', map_index_path
    -# %li= link_to 'Galleries', galleries_path
    -# %li= link_to 'Sponsors', sponsors_path
    -# %li= link_to 'Contact', '#'
