%nav
  %ul
    %li= link_to 'About', about_path
    %li= link_to 'Galleries', map_index_path
    -# %li= link_to 'Offsite Events', offsites_path
    %li= link_to 'Sponsors', sponsors_path
    %li= link_to 'Contact', contact_path
